@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@mixin flex(
    $direction: row,
    $content: flex-start,
    $items: stretch,
    $wrap: nowrap
) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
    flex-wrap: $wrap;
}

$black-primary: hsl(0, 0%, 0%);
$white-primary: hsl(0, 0%, 100%);
$input: hsl(0, 0%, 80%, 0.6);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

header {
    @include flex(row, center, center);

    width: 100vw;
    height: 4rem;
    background-color: $black-primary;
    color: $white-primary;
}

.input-container {
    @include flex(column, center, center);

    gap: 2rem;
    margin-top: 2rem;

    & > div {
        @include flex(column, center, center);

        gap: 2rem;
    }
}

input {
    display: block;
    width: 400px;
    height: 20px;
    margin: 0 auto;
    background-color: $input;
    border: 0;
    border-radius: 25px;
    text-align: center;
    font-size: 1rem;
}

.search,
.another {
    display: block;
    width: 5rem;
    height: 2rem;
    visibility: hidden;
    background-color: $black-primary;
    color: $white-primary;
    border: 0;
    border-radius: 10px;

    &:hover {
        transition: transform 0.3s ease-in-out;
        transform: scale(1.2);
    }
}

.img-container {
    @include flex(column, center, center);

    width: 100vw;
    height: 60vh;
    gap: 2rem;

    img {
        width: 400px;
        height: 400px;
        object-fit: cover;
        visibility: hidden;
    }
}

.show {
    visibility: visible !important;
}
